.todos {
    margin: 2rem auto;
    max-width: 800px;
}

.todos ul {
    list-style: none;
}

.container {
    margin: 10rem 0;
    text-align: center;
    min-height: 32vh;
    color: var(--main-color);
}

.container h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}