.todos {
    margin: 2rem auto;
    max-width: 800px;
}

.todos ul {
    list-style: none;
}

.todos ul li {
    display: flex;
    align-items: center;
}

.todos > ul > li > svg {
    margin-right: .5rem;
}

.todos > ul > li > svg:hover {
    cursor: pointer;
}

.container {
    margin: 10rem 0;
    text-align: center;
    min-height: 32vh;
    color: var(--main-color);
}

.container h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}