.todos {
    margin: 2rem auto;
    max-width: 800px;
}

.todos ul {
    list-style: none;
}

.todos ul li {
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    align-items: flex-start;
    margin: .7rem 0;
}

.separate {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #000;
}

.separate p {
    margin: 0 1rem;
}

.separate hr {
    flex-grow: 1;
}

.todos .order {
    padding: .7rem .5rem 0;
}

.todos .order:hover {
    cursor: pointer;
}

.order input {
    width: 4rem;
    font-size: .9rem;
    padding: .2rem 0;
    color: var(--main-color);
    border: none;
    border-bottom: 2px solid var(--main-color);
    text-shadow: 1px 1px 10px var(--main-bg-color);
}

.order input:focus {
    outline: 0;
}

.container {
    margin: 10rem 0;
    text-align: center;
    min-height: 32vh;
    color: var(--main-color);
}

.container h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}